.nav {
    grid-area: nav;

    background-color: greenyellow;
    list-style-type: none;
    text-align: center;
}

.item a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 24px;
}

.item .active {
    color: gold;
}

.sideBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sideBarItem img {
    width: 30px;
    height: 30px;
    margin-top: 100px;
}

.sideBarItem a {
    text-decoration: none;
    color: white
}