.nav {
    grid-area: nav;

    background-color: greenyellow;
    list-style-type: none;
    text-align: center;


}

.item a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: 24px;
}

.item .active {
    color: gold;
}